<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <base href="/" />
</head>
<body ng-app="yourAppName">
    <div ui-view></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>

</body>
</html>